**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.gitignore
**/.eslintignore
**/.eslintrc
**/dist
.lerna.json
env.example
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
**/.next
