MONGO_DATABASE=shrimp
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_INITDB_ROOT_USERNAME=admin

DB_USERNAME=developer
DB_PASSWORD=moreSecret

MONGO_HOSTNAME=mongodb
MONGO_PORT=27017

SERVER_HOST=http://localhost/api
SERVER_PORT=8080

CLIENT_SERVER_PORT=3000

DOMAIN=http://localhost/api
